---
layout: layouts/page.njk
title: about etosis
---
<div class="hero-bg-illu">
  {% include "partials/svg/hero-illu-about.svg" %}
</div>
<section class="hero">
  <h1>
    <span class="eyebrow">
      Learn more about etosis
    </span>
    Looking for the most complex software challenges since 1999
  </h1>
  <div class="card factsheet">
    <h3 class="card-title">
      Factsheet
    </h3>
    <dl>
      <dt>Location</dt>
      <dd>Helsinki, Finland <span class="helsinkitime">dude</span></dd>
      <dt>Name</dt>
      <dd>Patrick Simpson</dd>
      <dt>Email</dt>
      <dd><a href="mailto:contact@etosis.com">contact@etosis.com</a></dd>
    </dl>
  </div>
</section>
<section class="content-block">
  <h2>
    About Etosis
  </h2>
  <div class="columns columns-30-70">
    {# <div class="column">
      <img src="/img/img-placeholder.png" alt="">
    </div> #}
    <div class="column">
      <p>
        Etosis, also known as Patrick Simpson, has been a software developer and consultant since 1997. Patrick started professionally developing websites and applications while studying computer science and engineering, which evolved into writing drivers, virtual machines and software for embedded systems during his time at university. There, he also worked as a research assistant and scientific programmer, all while finishing his bachelor and master’s.</p>
    </div>
    <div class="column">
      <p>
        Patrick didn't slow down after graduation. Working on consumer electronics, content management systems, and medical devices was enjoyable but eventually not challenging enough. In search of new algorithms and always on the lookout for projects and teams that set a higher standard, Patrick decided to go solo.</p>
      <p>
        These days, from his base in Helsinki, Patrick works with companies, scientific teams and in-house developers across Europe and the United States.
      </p>
    </div>
  </div>
</section>
{# {% import "macros.html" as macros %}
 {{ macros.testimonials(
  testimoniallist = [
    {sayer:"George Costanza", said:"Y’know, there are tribes in Indonesia where if you keep your coat on in somebody's house, the families go to war!"},
    {sayer:"Jerry Seinfeld", said:"The human body is like a condominium. The thing that keeps you from really enjoying it is the maintenance."},
    {sayer:"Elaine Benes", said:"I can’t be with someone who doesn’t break up nicely. It’s an important part of the relationship."}
  ]
) }} #}