---
layout: layouts/page.njk
title: about etosis
---
<div class="hero-bg-illu">
  {% include "partials/svg/hero-illu-about.svg" %}
</div>
<section class="hero">
  <h1>
    <span class="eyebrow">
      Learn more about etosis
    </span>
    Looking for the most complex software challenges since 1999
  </h1>
  <div class="card factsheet">
    <h3 class="card-title">
      Factsheet
    </h3>
    <dl>
      <dt>Location</dt>
      <dd>Helsinki, Finland <span class="helsinkitime">dude</span></dd>
      <dt>Programming Laguages</dt>
      <dd>C#, C++, Java, Javascript</dd>
      <dt>Team Size</dt>
      <dd>Flexible, from 1 to 10 developers</dd>
    </dl>
  </div>
</section>
<section class="content-block">
  <div class="columns columns-30-70">
    <div class="column">
      <img src="/img/img-placeholder.png" alt="">
    </div>
    <div class="column">
      <h2>
        About Etosis</h2>
      <p>
        Etosis is also known as Patrick Simpson, software developer and consultant since 1997. Patrick started professionally developing websites and applications while studying computer science and engineering. Which evolved in writing drivers, virtual machines and software for embedded systems during his time at university. Where he also worked as a research assistant and scientific programmer. All while finishing his Bachelor and Masters.</p>
      <p>
        This extreme productivity did not seize after graduation. Working on consumer electronics, content management systems, and medical devices was enjoyable but eventually not challenging enough. In search for new algorithms, complex mathematics and custom hardware Patrick went solo. Always on the look-out for projects and teams that raise the bar and stretch his skills.</p>
      <p>
        From his base in Helsinki Patrick works with companies, scientific teams and in-house developers across Europe and the United States. And with an extensive network in his wake no project is too big to tackle.
      </p>
    </div>
  </div>
</section>

<p>
  Some text in this.
  &&nbsp;&
</p>