---
layout: layouts/page.njk
title: etosis
---
{% import "macros.html" as macros %}
<div class="hero-bg-illu">
  {% include "partials/svg/hero-illu-home-simplified.svg" %}
</div>
<div class="hero">
  <h1>
    <span class="eyebrow">Consultancy & development services</span>
    We specialise in solving extremely complex software problems
  </h1>
  <a class="button" href="/about">About etosis {{ macros.icon('arrow-right') }}</a>
</div>