{% import "macros.html" as macros %}
  <div class="card cta-card">
    <div class="card-section">
      <h2 class="card-section-title">
        <span class="eyebrow">
          {% block eyebrow %}Do you have a complex software problem?{% endblock %}
        </span>
        {% block headline %}We’re curious. Get in touch!{% endblock %}
      </h2>
      <p>{% block content %}We like solving the most difficult issues, so if you think you’ve got a real headache of a software problem we want to hear from you!{% endblock %}</p>
    </div>
    <a href="mailto:info@etosis.com" class="card-button">{{ macros.icon('mail') }}Email us {{ macros.icon('arrow-right') }}</a>
  </div>