<footer>
  <div class="column">
    <a class="etosis-logo-text" href="{{ '/' | url }}">{% include "./svg/etosis-logotext.svg" %}</a>
    etosis inc.<br>
    Street 123<br>
    1234 Postcode<br>
  </div>
  <div class="column">
    <nav id="page-footer-nav" class="page-footer-nav">
      <a href="{{ '/about' | url }}">About</a>
      <a href="#work">Work</a>
      <a href="mailto:info@etosis.com"><i class="icon-mail">{% include "./svg/icons.svg" %}</i> Contact us</a>
    </nav>
    CoC 1234567890<br>
    Bank NL02 KNAB 0255 5993 31<br>
    BIC KNABNL2H<br>
  </div>
</footer>