<footer>
  <div class="column">
    <a class="etosis-logo-text" href="{{ '/' | url }}">{% include "./svg/etosis-logotext.svg" %}</a>
    Etosis Oy<br>
    Svinhufvudintie 13A12<br>
    00570 Helsinki<br>
  </div>
  <div class="column">
    <nav id="page-footer-nav" class="page-footer-nav">
      <a href="{{ '/about' | url }}">About</a>
      <a href="#work">Work</a>
      <a href="mailto:info@etosis.com"><i class="icon-mail">{% include "./svg/icons.svg" %}</i> Contact us</a>
    </nav>
    Y-tunnus: 2875108-4<br>
    VAT: FI28751084<br>
  </div>
</footer>