<header class="page-header" id="top">
  <div class="etosis-logo">
    <a href="#top">{% include "./svg/etosis-logoshape-e.svg" %}</a>
    <a class="etosis-logo-text" href="{{ '/' | url }}">{% include "./svg/etosis-logotext.svg" %}</a>
  </div>
  <nav id="page-header-nav" class="page-header-nav">
    <a href="{{ '/about' | url }}">About</a>
    <a href="#work">Work</a>
    <a href="mailto:info@etosis.com"><i class="icon-mail">{% include "./svg/icons.svg" %}</i> Contact us</a>
  </nav>
  <button id="page-header-nav-toggle">Menu</button>
</header>