{% import "macros.html" as macros %}
<div class="content-block" id="work">
      <h2>
        Some of our favourite problems solved so far
      </h2>
      <p class="disclaimer">
        We have kept our clients anonymous as much of the work we do is subject to NDA’s. Your work will be treated with the same discretion.
      </p>
  <div class="work-collection">
  {%- for work in collections.work -%}    
    <a href="{{ work.url }}" class="card work-collection-card{% if work.url == page.url %} currently-viewing{% endif %}">
      <div class="card-description">
        <header class="card-title">{{ work.data.title }}</header>
        <div class="card-illu"><img src="{% if work.data.thumbnail %}{{ work.data.thumbnail }}{% else %}/img/img-placeholder.png{% endif %}" /></div>
        <div class="card-section">
          {{ macros.icon( work.data.card.icon_1 )}}{{ work.data.card.list_1 }}
        </div>
        <div class="card-section">
          {{ macros.icon( work.data.card.icon_2 )}}{{ work.data.card.list_2 }}
        </div>
        <div class="card-section">
          {{ macros.icon( work.data.card.icon_3 )}}{{ work.data.card.list_3 }}
        </div>
      </div>
      <div class="card-button">
        {% if work.url !== page.url %}Read more {{ macros.icon('arrow-right') }}
        {% else %} Currently Viewing
        {% endif %}
      </div>
    </a>
  {%- endfor -%}
    <a href="mailto:{{ contactEmail }}" class="card work-collection-card">
      <div class="card-description">
        <header class="card-title">Your project here?</header>
        <div class="card-illu"><img src="/img/thumbnail-yourproject.svg" /></div>
        <div class="card-section">
          {{ macros.icon( 'brief' )}}Create solid brief
        </div>
        <div class="card-section">
          {{ macros.icon( 'key' )}}Identify key challenges
        </div>
        <div class="card-section">
          {{ macros.icon( 'code' )}}Devise effective solution
        </div>
      </div>
      <div class="card-button">
       Get in touch {{ macros.icon('arrow-right') }}
      </div>
    </a>
  </div>
</div>