---
tags: work
title: 3D Film makers
layout: layouts/work.njk
svg: "partials/svg/hero-illu-cgi.svg"
thumbnail: /img/thumbnail-cgi.svg
card: 
  technologies: Image Processing, OpenCV, 3D, C++
  icon_1: cube
  list_1: Develop 3D reconstruction software based on 2D images
  icon_2: video
  list_2: "Create video capturing software"
  icon_3: user
  list_3: "Improve user applications"
---
{% import "macros.html" as macros %}

{{ macros.summary( 
  summarytext = [
    'These days, film includes a lot of computer-generated imagery. Because of its complexity, it is still very difficult to create realistic-looking eyes. Etosis developed software to control a scanning device that can create highly realistic 3D models of the eye, by combining multiple images captured with different exposures at different angles.'
  ] 
) }}

{{ macros.challenges(
  challengestext = [
    'The client is a startup that develops devices primarily to create realistic-looking eyes for films and games. While the actor’s physical characteristics and movements can be captured accurately, it has proven difficult to create realistic eyes. Because of their complex colouring and, and because humans are extremely sensitive to reading eye movement for expressions of emotion, eyes need to be accurately represented in order to create a believable character, and bridge the so-called \‘uncanny valley\’.',
    
    'There are medical devices available that can measure the visible parts of the eye perfectly, but not the complete eyeball. As these devices are meant for medical purposes, they do not focus on the aesthetic features of the eye. The client has taken one of these medical devices and added cameras and lighting sources, to simultaneously capture both the shape and colour information of the eye. However, creating a realistic eye model from its data remained a challenge.'
  ],
  challengesbullets = [
    'Realistic-looking computer-generated eyes are notoriously difficult to create.',
    'It is easy to calculate the shape of the visible part, but difficult to measure the whole eye.',
    'Eye-scanning devices are generally built for medical purposes.'
  ]
) }}

{{ macros.solutions(
  solutionstext = [
    'Etosis created detectors that could identify features visible on colour images and shape data. This allowed the different data sets to be accurately aligned, and the images to be applied onto the shape data, making it possible to create a realistic looking model of the visible part of the eye.',

    'To accurately recreate the movement of the eye, it was necessary to have a realistic model of the entire eye. Based on known characteristics of eyeballs, Etosis created a generic model, which could be automatically modified to match the visible parts of the eye.',

    'Finally, Etosis rewrote the capturing application to ensure the best possible results. This rewrite also made the application much easier to use, ensuring that the operator could capture high-quality images with minimal training.'
  ],
  solutionsbullets = [
    'Developed algorithms and software to merge the colour images onto the measured shape of the eyeball.',
    'Developed algorithms to extrapolate the full eyeball, based on the visible parts.',
    'Rewrote existing capturing software making them easier to use and increasing the quality of measurements.'
  ]
) }}