---
tags: work
title: Financial services
layout: layouts/work.njk
svg: "partials/svg/hero-illu-financial-services.svg"
thumbnail: /img/thumbnail-financial-services.svg
card: 
  technologies: Real-time, FIX protocol, Java
  icon_1: chart
  list_1: "Develop an automated trading platform"
  icon_2: link
  list_2: "Connected to existing Matlab code"
  icon_3: java
  list_3: "Implement trading algorithms in Java"
---
{% import "macros.html" as macros %}

{{ macros.summary( summarytext = [
  'Automated stock market trading is very popular with large trading houses. Their unlimited budgets often give them the advantage. How about a range of small automated trading systems for a range of small clients? Not making profit by performing millions of transactions a day, but assisting knowledgeable traders to optimise their profits.'
] ) }}

{{ macros.challenges(
  challengestext = [
    'Development of an automated trading system is usually a multiple man-year project, requiring large upfront investment. For smaller traders, this can be an insurmountable problem.',

    'Additionally, any algorithms they have developed are potentially worth millions, hence they need to be guarded closely.'
  ],
  challengesbullets = [
    'Automated trading usually requires large development budgets.',
    'IP protection of trading algorithms.'
  ]
) }}      

{{ macros.solutions(
  solutionstext = [
    'One of the trading systems split a trade order into a number of smaller orders executed at different times, To optimise the price and to make it less obvious that someone is interested in buying a large number of shares. Very useful for smaller traders, as orders are public record and large traders may benefit from this information by quickly buying those shares.',
    'Another, much more complicated system, looks at long-term changes in the price of related assets and automatically establishes a position in a certain asset if it has become undervalued. Of course, determining what it means to be undervalued is a very difficult thing. Through calling into the client’s Matlab code for the determination and reimplementing the more successful versions in Java resulted in improved performance and reliability.',
    'Varying greatly in functionality, both need to be extremely reliable, well-tested and fail safely. They need to look at the market as a whole to prevent automated hysteria, for example when the market is extremely volatile. They also need to connect to different trading platforms and pricing information systems with as many APIs.'
  ],
  solutionsbullets = [
    'A simple and effective trading platform.',
    'Connecting to Matlab implementations of trading algorithms.'
  ]
) }}      