---
tags: work
title: Open source communications
layout: layouts/work.njk
svg: "partials/svg/hero-illu-outlook.svg"
thumbnail: /img/thumbnail-outlook.svg
card: 
  technologies: MAPI, Office automation, C#
  icon_1: outlook
  list_1: "Extend Outlook functionality to use client’s Groupware server"
  icon_2: code
  list_2: "Develop an Outlook plugin using C#"
  icon_3: bug
  list_3: "Create debug tooling"
---
{% import "macros.html" as macros %}

{{ macros.summary( summarytext = [
  'A backend email, video meetings and calendars developer needed Outlook support. Though Outlook accommodates many communication technologies through its extensions. Unfortunately, these are notoriously difficult to get right and a single bug can cause Outlook to crash, to the despair of many users.'
] ) }}

{{ macros.challenges(
  challengestext = [
    'Most Outlook Extensions are written in C++. This tends to lead to a lot of Outlook crashes that are notoriously difficult to debug. And when using the ActiveSync protocol you will soon find out that not all of Outlooks features can be accessed through ActiveSync.'    
  ],
  challengesbullets = [
    'Develop a mail server that supports ActiveSync. Outlook support was essential for reasons of compatibility.',
    'Outlook does not implement the ActiveSync protocol properly.',
    'Existing Outlook plugin, in C++, creates multiple support problems.'
  ]
) }}      

{{ macros.solutions(
  solutionstext = [
    'Unlocking these features and creating a reliable and compatible required an Outlook Extension written in C#. Releasing features like setting out-of-office replies and email signatures, having multiple contact folders and managing synchronisation settings to reduce storage usage or sharing email folders and mailboxes, providing busy time information for Outlook’s appointment scheduling and synchronising notes and accessing an organisation’s full address book.',
    
    'Managing to get these features working needed a lot of coordination between the Outlook Extension and mail server. Some techniques developed include opening side channels to the mail server to control the data it sends to Outlook. Other features required communication through custom email headers, which are inserted by the Outlook Extension and handled by the mail server, or vice versa.',
    
    'In addition to the Outlook Extension, tools to easily configure the extension on the user’s computer were needed. To support advanced deployment scenarios and aid in debugging issues that may arise.'
  ],
  solutionsbullets = [
    'A simple and effective trading platform.',
    'Connecting to Matlab implementations of trading algorithms.'
  ]
) }}      
