---
tags: work
title: Measuring eyes
layout: layouts/work.njk
svg: "partials/svg/hero-illu-medical-device-company.svg"
thumbnail: /img/thumbnail-medical-device-company.svg
card: 
  technologies: "Image Processing, Medical, OpenCV, C++, C#, Matlab"
  icon_1: camera
  list_1: "Develop image processing algorithms"
  icon_2: user
  list_2: "Create a user application"
  icon_3: tools
  list_3: "Develop production tooling"
---
{% import "macros.html" as macros %}

{{ macros.summary(
  summarytext = [
        'Developing and maintaining the software architecture for a ground-breaking medical device that measures eyes to fit custom-made contact lenses for consumers and research has its challenges. Especially when you want it to be unique in its accuracy and capability to measure the whole eye instead of just the cornea, allowing for much larger contact lenses with a more comfortable fit and better correction.'
  ]
)}}

{{ macros.challenges(
  challengestext = [
    'Medical devices can take decades to develop from proof of concept to production. This particular medical device was acquired directly from a university, and both the hardware and the software were prototypes developed in the 1990s. Although it fulfilled its function well, the hardware was outdated and the software did not measure up to modern standards: a one-off device with largely undocumented software that would be difficult to get regulatory approval for.'
  ],
  challengesbullets = [
    'Client had acquired the rights to a prototype of a medical device',
    'Existing software was highly experimental and outdated',
    'Given the prototype nature, the software was not suitable for real-world use, nor was it possible to make new instances of the device'
  ]
)}}

{{ macros.solutions(
  solutionstext = [
    'To bring the device up to date, Etosis developed a new software architecture from scratch, with the ability to accommodate future improvements. The developed software met all current regulatory standards, making approval straightforward. The existing image processing algorithms were reverse-engineered and improved upon. This increased both the accuracy and speed of measurements, which allowed for additional algorithms to be developed to calculate parameters and maps derived from raw measurements.',

    'To facilitate the production of new devices, Etosis developed specialised tooling which helped the hardware team evaluate components, allowing these to be properly aligned and calibrated before they were shipped. Using these tools, Etosis was able to outsource device production to a specialised company.'
  ],
  solutionsbullets = [
    'Designed a new software architecture from scratch, focused on future needs and regulatory requirements.',
    'Reverse-engineered, updated and improved the existing image processing algorithms.',
    'Developed additional tooling to help align and calibrate new, to-build devices.'
  ]
)}}