---
tags: work
title: Medical Research Institute
layout: layouts/page.njk
svg: "partials/svg/hero-illu-serious-gaming-2.svg"
thumbnail: /img/thumbnail-gamingcompany.svg
card: 
  title: "For a Medical Research Institute..."
  icon_1: database
  list_1: "we created a statistical database system ..."
  icon_2: import
  list_2: "developed import tools for existing ad-hoc data ..."
  icon_3: python
  list_3: "and created Python web platform to run statistical tests."
---
{% import "macros.html" as macros %}
<div class="hero-bg-illu">
  {% include svg %}
</div>
<section class="hero">
  <h1><span class="eyebrow">Client: A Medical Device Company</span> Summary</h1>
  <div class="card factsheet">
    <h3 class="card-title">Technology stack</h3>
    <dl>
      <dt>Technologies</dt>
      <dd>Encryption, Unity3D, JSON</dd>
      <dt>Programming Laguages</dt>
      <dd>C#</dd>
    </dl>
  </div>
</section>
<section class="content-block">
  <h2><span class="eyebrow">Serious games have serious issues</span>The challenges</h2>
  <div class="columns">
    <div class="column">
      <p>One of my longest running projects is a medical device that measures eyes primarily to fit (custom-made) contact lenses, but also for research purposes. This device is unique in the market in its accuracy and in the part of the eye it can measure; most earlier devices could only measure the cornea, but this device measures the whole visible section of the eye, allowing much larger contact lenses to be developed for a more comfortable fit and better correction.</p>
      <p>Originally, I only developed the software architecture for the device, as I had experience with developing software for medical devices and in particular with the requirements for certification. After the initial phase, I also started implementing the software, and presently I maintain most of the software.</p>
    </div>
    <div class="column">
      <div class="card">
        <h3 class="card-title">The issues our client was facing:</h3>
        <div class="card-section">
          <h4 class="card-section-title">Technology</h4>
          <ul class="card-section-list">
            <li>My client had acquired the rights to a prototype of a medical device</li>
            <li>The existing software was highly experimental and outdated</li>
            <li>Given the prototype nature, the software was not suitable for real-world use, nor was it easily possible to make new instances of the device</li>
          </ul>
        </div>        
      </div>
    </div>
  </div>
</section>
<section class="content-block">
  <h2><span class="eyebrow">Seriously solved</span>The solutions</h2>
  <div class="columns">
    <div class="column">
      <p>
        I have been responsible for all parts of the software development. This includes developing the core algorithms from research prototypes into algorithms that can be used robustly in practise. Initially, algorithm development was led by the client’s scientists, but for the last years this has been my sole responsibility. Over the years, we have improved the accuracy and reliability of the algorithms and added new features.</p>
      <p> 
        The end-user application has also been steadily developed over the years. The initial version was simply an application that could measure an eye. The latest version includes patient database management, cloud service connections to our own and third-party contact lens fitting and ordering services and an API that can be used by partners to connect to our device and software.</p>
      <p>
        Besides the application and algorithms, I have developed a number of support applications for the scientific and production teams. These support the client in further developing the device and in manufacturing and calibrating devices.</p>
    </div>
    <div class="column">
      <div class="card">
        <h3 class="card-title">Our solutions:</h3>
        <div class="card-section">
          <h4 class="card-section-title">Technology</h4>
          <ul class="card-section-list">
            <li>Developed a configurable system to create &amp; manage large numbers of 3D objects </li>
            <li>Built a new extensive UI framework for the client’s team to leverage when building game scenarios</li>
          </ul>
        </div>
        <div class="card-section">
          <h4 class="card-section-title">Digital Rights Management</h4>
          <ul class="card-section-list">
            <li>We developed an encryption system that could easily be integrated into the client’s asset pipeline</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-block">
  {{ macros.cta() }}
</section>