---
tags: work
title: Medical research
layout: layouts/work.njk
svg: "partials/svg/hero-illu-medical-research.svg"
thumbnail: /img/thumbnail-medical-research.svg
card: 
  technologies: "Medical, Python, C#"
  icon_1: database
  list_1: "Create a statistical database system"
  icon_2: import
  list_2: "Develop import tools for existing ad-hoc data"
  icon_3: python
  list_3: "Create Python web platform to run statistical tests"
---
{% import "macros.html" as macros %}

{{ macros.summary( summarytext = [
  'Early-stage medical studies can be unstructured, as medical researchers often work with theories. The collection of data is often equally chaotic, which becomes problematic as the study develops. How do you develop a collection platform that quickly structures data as well as ensures that ongoing data is collected correctly?'
] ) }}

{{ macros.challenges(
  challengestext = [
    'Medical studies often start with a single or a small group of doctors detecting an interesting pattern. They develop a rough hypothesis about what causes or alleviates their patients’ conditions and develop this into a treatment through a series of studies and trials.',

    'The data for these studies – especially in the early stages – is often collected ad hoc. Doctors may not yet know which data are relevant and as a result do not keep all the data, or gather a lot of irrelevant data.',

    'Data management systems for medical studies and trials that deal with these issues need to support data entry that is both easy to use and easy to modify after it becomes clear which data are relevant and which are not. As the data are medical, privacy is always a concern. This means standard cloud solutions for storage cannot be used and tooling has to be developed to manage the data on private servers.'
  ],
  challengesbullets = [
    'It was unclear what the data model would eventually look like.',
    'Existing data had been collected very ad hoc.'
  ]
) }}      

{{ macros.solutions(
  solutionstext = [
    'Etosis created a website that automatically configured the database back-end using data that had already been collected, and which could process new data using an easy web interface. To make the data available for statistical analysis, Etosis created a Python web platform that made the database accessible for external tools. Aside from the web platform, Etosis created a suite of tools that could be used to import existing data, which was automatically converted to the latest database format.'
  ],
  solutionsbullets = [
    'Built a website with an easily configurable database backend.',
    'Created a Python web platform connecting the database to statistical analysis tools.',
    'Developed a suite of configurable import tools to import existing data into the database.'
  ]
) }}      

