.page-header {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
#etosis-logoshape-e {
  position: fixed;
  top: 0;
  left:0;
  width: 20px;
  height: 63px;
  @media screen and (min-width: 768px) {
    width: 25px;
    height: 80px;
  }
}
.etosis-logo-text,
.etosis-logo-text:link,
.etosis-logo-text:visited {
  display: inline-block;
  color: var(--color-text);
  padding-left: var(--padding-page);
  height: 63px;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
#etosis-logo-text-svg {
  height: 100%;
  width: auto;
  position: relative;
}
#page-header-nav {
  width: calc(100% - 64px);
  background-color: var(--color-text);
  margin-left: 0;
  padding: var(--padding-page);
  padding-top: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all .1s ease-in-out;
  @media screen and (min-width: 768px) {
    background-color: transparent;
    margin-left: 90px;
    padding: 0 var(--padding-page);
    position: static;    
    transform: none;
    display: flex;
  }
}
#page-header-nav a, #page-header-nav a:link, #page-header-nav a:visited {
  color: var(--color-text);
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: .5rem 0;
  @media screen and (min-width: 768px) { 
    margin-right: 40px;
    font-size: 1.2rem;
    line-height: 1;
    padding: 30px 0;
  }
}
#page-header-nav-toggle {
  border: none;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px 15px 22px var(--padding-page);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav-toggled {
  & #etosis-logoshape-e #triangle_middle_valley,
  & #etosis-logo-text-svg {
    fill: var(--color-bg);
  }
  & #page-header-nav-toggle {
    color: var(--color-bg);
  }
  & #page-header-nav{
    transform: translateY(0);
  }
  & #page-header-nav a, & #page-header-nav a:link, & #page-header-nav a:visited {
    color: var(--color-bg);
  }
  & #page-header-nav a i svg {
    fill: var(--color-bg);
  }
}