.hero-bg-illu svg{
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0%;
  left: 0;
  overflow: visible;
  @media screen and (min-width: 768px) {
    height: 100%;
    bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    left: 50%;
    transform: translateX(-50%);
  }
}
#illu-home path,
#illu_about circle, 
#illu_serious-gaming line,
#illu-medical-company #eye, #illu-medical-company #background,
#industrial-automation #floor, #industrial-automation #roof {
  visibility: hidden;
}
#illu_about{
  width: 140%;
  @media (min-width: 768px){
    left: auto;
    right: -44%;
    top: -10%;
    overflow: visible;
    width: 130%;
    height: 130%;
    transform: none;
  }
}
#illu_serious-gaming {
  height: auto;
}
#industrial-automation {
  width: auto;
  left: auto;
  right: 0;
  @media screen and (min-width: 1440px) {
    right: calc((100vw - 1440px)/2);
    transform: none;
  }
}
.elcubo-container {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 25%;
  visibility: hidden;
  opacity: 0;
  @media (min-width: 768px) {
    width: 33%;
    left: 50%;
  }
}
#elcubo {
  left: auto;
  transform: none;
  width: auto;
  height: auto;
  @media (min-width: 768px){
    top: 2rem;
  }
}
#financial-services {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 120%;
  overflow: visible;
  @media (min-width: 768px){
    top: 10%;
    width: 100%;
  }
  @media (min-width: 1440px){
    width: 1440px;
    left: 50%;
  }
}
#financial-services > g > * {
  visibility: hidden;
  opacity: 0;
}
#illu-medical-research {
  @media (min-width: 768px) {
    width: auto;
    height: calc(100% - 2rem);
    right: 2rem;
    left: auto;
    bottom: 2rem;
    top: auto;
  }
  @media (min-width: 1440px){
    width: 1440px;
    right: auto;
    left: 50%;
  }
}
#outlook {
  visibility: hidden;
  opacity: 0;
}
#illu-cgi{
  width: 75%;
  left: 12.5%;
  @media (min-width: 768px){
    max-width: 60%;
    bottom: 0;
    left: auto;
    right: 2em;
  }
  @media (min-width: 1440px){
    width: 45%;
    right: 0;
  }
}
#illu-camera-driver {
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  @media (orientation: landscape) {
    width: 100vw;
    height: 120vh;
    top: -10vh;
  }
  @media (orientation: landscape) and (min-width: 1440px){
    top: 0;
    width: 1440px;
    height: auto;
    overflow: hidden;
  }
  & #edges path {
    stroke-width: .2;
  }
}
#illu-radar {
  width: 150%;
  right: 0;
  left: auto;
  @media (max-width: 768px) {
    bottom: 20%;
  }
  @media (min-width: 1440px){
    width: 100%;
    left: 45%;
  }
  & circle {
    fill: transparent;
    stroke: #000;
    stroke-width: 1px;
  }
}