.content-block:before {
  z-index: 5;
}
#illu_about{
  z-index: 4;
  pointer-events: none;
}
#etosis-logoshape-e,
#etosis-logo-text-svg,
#page-header-nav-toggle {
  z-index: 3;
}
#page-header-nav {
  z-index: 2;
}
.hero-bg-illu svg {
  z-index: -1;
}
