.content-block:before {
  z-index: 5;
}
#illu_about{
  pointer-events: none;
  @media (min-width: 768px) {
    z-index: 4;
  }
}
#elcubo {
  z-index: 5;
}
#etosis-logoshape-e,
#etosis-logo-text-svg,
#page-header-nav-toggle {
  z-index: 3;
}
#page-header-nav {
  z-index: 2;
}
.hero {
  z-index: 1;
}
.hero-bg-illu svg {
  z-index: 0;
}
