---
title: Etosis Home Page
layout: layouts/base
---
{{ content | safe }}
{% include "partials/workcollection.njk" %}
{# {% import "macros.html" as macros %}
{{ macros.testimonials(
  testimoniallist = [
    {sayer:"George Costanza", said:"Y’know, there are tribes in Indonesia where if you keep your coat on in somebody's house, the families go to war!"},
    {sayer:"Jerry Seinfeld", said:"The human body is like a condominium. The thing that keeps you from really enjoying it is the maintenance."},
    {sayer:"Elaine Benes", said:"I can’t be with someone who doesn’t break up nicely. It’s an important part of the relationship."}
  ]
) }} #}
   