---
tags: work
title: Etosis Work Example Page
svg: "partials/svg/hero-illu-medical-device-company.svg"
thumbnail: /img/thumbnail-medical-device-company.svg
card: 
  technologies: "All the technologies"
  icon_1: camera
  list_1: "One thing"
  icon_2: user
  list_2: "Two thing"
  icon_3: tools
  list_3: "Final thing"
layout: layouts/base
---

{% import "macros.html" as macros %}
<div class="hero-bg-illu">
  {% include svg %}
</div>
{{ macros.work_hero(
  herotitle = title, 
  card_technologies = card.technologies, 
  card_list = [ card.list_1, card.list_2, card.list_3 ]
) }}
{{ content | safe }}
<section class="content-block">
  {{ macros.cta( email = contactEmail ) }}
</section>
{% include "partials/workcollection.njk" %}
    